body{
    background-image: url(../Sources/ac.jpg);
}
table{
    border: 1px white solid;
    border-spacing: 50px;
}
td{
    margin: 40px;
    height: 200px;
    width: 200px;
    border: 1px black solid;
}
.modA{
    background-image: url(../Sources/back_mantel.jpg);
}
.modB{
    background-image: url(../Sources/back_mantel.jpg);
    background-clip: content-box;
    padding: 10px;
}
.modC{
    background-image: url(../Sources/back_mantel.jpg);
    background-size: 100% 100%;
}
.modD{
    background-color: white;
    background-image: url(../Sources/back_mantel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    padding: 10px;
}
.modE{
    background-image: url(../Sources/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.modF{
    background-image: url(../Sources/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.modG{
    background-color: white;
    background-image: url(../Sources/dh_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modH{
    background-color: white;
    background-image: url(../Sources/dh_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modI{
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
}
.modJ{
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, rgba(117,34,1,1) 51%, rgba(191,118,78,1) 100%);
}
.modK{
    background: linear-gradient(to top, rgba(50,116,4,1) 0%, rgba(239,239,210,1) 100%);
}
.modL{
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgb(0,0,0,0) 100%);
}