table{
    border: 2px black solid;
    box-shadow: inset -2px -2px 0 2px #888;
    padding: 4px;
}
th,td{
    border: 2px rgb(4, 202, 252) solid;
    padding: 1px;
    margin: 0px;
}
th{
    background-color: rgb(14, 109, 43);
    color: rgb(160, 231, 160);
}
td{
    background-color: rgb(151, 211, 151);
}